@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #00ae97;
    color: white;
    font-size: 100%;
}

header{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: white;
}

header img{
    margin-top: 11px;
    width: 300px;
}

.contenedor{
    display: flex; /*PARA QUE LAS DOS SECCIONES QUEDEN UNA AL LADO DE LA OTRA*/
    flex-wrap: wrap; /*PARA QUE LOS ELEMENTOS SE ACOMODEN DENTRO DEL CONTENEDOR Y NO SE PUEDA SCROLLEAR CON LA BARRA*/
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto 30px; /* 0 A ÑPS COSTADOS, ARRIBA AUTO Y ABAJO 30PX*/
}

.texto{
    max-width: 500px;
    width: 50%; /* SI SE ACHICA, QUE SE ACHIQUE SIEMPRE MANTENIENDO EL 50%*/
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.imagenes, .volatil, .volatil1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.imagenes img{
    width: 100px;
}

h1{
    font-size: 1.9em;
}

h2{
    font-size: 1.2em;
    font-weight: 350;
    margin: 10px auto;
    max-width: 400px;
    line-height: 1.5em;
}

.formulario{
    margin: 0 auto;
    max-width: 500px;
    width: 50%;
    padding: 0 20px;
    /*background-color: blueviolet;*/
}

.form{
    width: 100%;
    min-height: 535px;
    padding: 30px 20px;
    background-color: #043232;
    border-radius: 10px;
    margin: 0 auto;
}

h3{
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

h4{
    font-size: 0.8em;
    font-weight: 350;
    margin-top: 10px;
    margin-bottom: 20px;
}

li{
    list-style: none; /*para que desaparezcan las viñetas (enumeradores) que están al lado*/
}

label{
    display: block; /*para que cada label se ubique en un renglón entero*/
    padding: 10px 0;
}

input[type=text], input[type=email]{
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

input[type=button]{
    background-color: indianred;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    margin: 20px 0;
    border: none;
    margin-top: 40px;
    cursor: pointer; 
}

p{
    margin-top: 10px;
    font-size: 0.7em;
}

@media(max-width: 870px){
    .contenedor{
        display: block; /*para anular el FLEX y que permita que una sección esté debajo de la otra*/
    }
    .texto{
        width: 100%;
    }
    .formulario{
        width: 98%;
        max-width: 403px;
        padding: 0;
    }
    .volatil{
        display: none;
    }
    .form{
        min-height: 510;
    }
    h3{
        text-align: center;
        margin-top: 1%;
    }

    @media(max-width: 415px){
        .volatil1{
            display:none;
        }
        h3{
            text-align: center;
        }
    }
}